RewriteEngine On
RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^jobs$ controller/jobController.php?action=index

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^jobs$ controller/jobController.php?action=create

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^jobs/([0-9]+)$ controller/jobController.php?action=update&id=$1

RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^jobs/([0-9]+)$ controller/jobController.php?action=delete&id=$1
